.blog-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-medium);
}

@media screen and (max-width: 750px) {
  .blog-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .blog-section {
    grid-template-columns: repeat(1, 1fr);
  }
}