.button {
  display: inline-flex;
  align-items: center;
  height: 44px;
  padding: 0 1.5rem;

  color: var(--dark-gray);

  font-size: 14px;
  font-family: inherit;
  
  border-radius: .3rem;
  border: 2px solid var(--dark-yellow);

  cursor: pointer;
  outline: none;
  transition: border-color .15s linear, color .15s linear, background-color .15s linear;
}


.button.-primary {
  background-color: var(--dark-yellow);
}

.button[disabled].-primary {
  cursor: not-allowed;

  background-color: var(--medium-yellow);
}

.button:not([disabled]).-primary:hover,
.button:not([disabled]).-primary:focus {
  background-color: var(--dark-gray);
  color: white;
  border-color: var(--dark-gray);
}

.button.-secondary {
  background-color: transparent;
}

.button:not([disabled]).-secondary:hover,
.button:not([disabled]).-secondary:focus {
  border-color: var(--dark-gray);
}