---
---

:root {
  font: lighter 18px/1.6 Roboto, -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

  --orange: #f77062;
  --pink: #fe5196;
  --green-color: rgb(91, 200, 111);
  --font-color: rgb(52, 53, 54);
  --light-gray: rgb(234, 234, 234);

  --width-normal: 1170px;
  --width-small: 768px;
  --spacing-small: .5rem;
  --spacing-normal: 1rem;
  --spacing-large: 2.5rem;

  --border-radius-small: 4px;
  --border-radius-large: 6px;
}

body {
  margin: unset;

  color: var(--font-color);

  background: transparent url("/images/intro-bg.svg") top left no-repeat;
  background-size: 40%;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

figure {
  margin: unset;
}

img {
  max-width: 100%;
  height: auto;
  
  vertical-align: middle;
}

strong, b {
  font-weight: bold;
}

blockquote {
  font-style: italic;
}

.section-header {
  text-align: center;
}

.section-header > .title {
  margin: unset;
}

.section-header > .subtitle {
  margin: var(--spacing-small) 0 var(--spacing-large);
}

.container {
  max-width: var(--width-normal);
  margin: 0 auto;
  padding-left: var(--spacing-normal);
  padding-right: var(--spacing-normal);
  box-sizing: border-box;
}

.container.is-small {
  max-width: var(--width-small);
}

.button {
  display: inline-block;
  
  border: none;
  border-radius: var(--border-radius-large);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  font-family: inherit;
  
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  transition: box-shadow .1s linear;
}

.button.-primary {
  color: white;
  background: linear-gradient(45deg, var(--orange), var(--pink));
}

.button.-secondary {
  color: var(--pink);
  background-color: white;
}

.button.-large {
  padding: 1rem 5rem;

  font-size: 14px;
}

.button.-small {
  padding: .8rem 1.5rem;

  font-size: 12px;
}

.button[disabled] {
  opacity: .6;
  cursor: not-allowed;
}

.button:not([disabled]):hover {
  box-shadow: 0 25px 15px -10px rgba(0, 0, 0, .2);
}

.button:not([disabled]):active {
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, .3);
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-normal);

  border: 1px solid var(--light-gray);
  border-radius: .3rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

  color: inherit;

  font-family: inherit;
  font-weight: lighter;
  font-size: 14px;

  resize: none;
  -webkit-appearance: none;
  transition: box-shadow .1s linear;
}

.input:hover, .input:focus {
  box-shadow: 0 25px 15px -10px rgba(0, 0, 0, .1);
}

.input.has-error {
  border-color: var(--orange);
}

.form-error {
  margin: unset;

  font-size: 14px;
  text-align: left;

  color: var(--orange);
}