---
---

.page-header {
  margin-bottom: 4rem;
}

.page-header.-right {
  max-width: 60%;
  margin-left: auto;

  text-align: right;
}

.page-header > .title {
  margin-bottom: unset;

  font-size: 3rem;
  line-height: 1;

  color: var(--pink);
}