---
---

.page-header {
  margin-bottom: 4rem;

  @media screen and (max-width: 800px) {
    margin-top: 4.2rem;
  }

  &.-right {
    margin-left: auto;
    max-width: var(--max-width);
    
    text-align: right;
    
    @media screen and (min-width: 800px) {
      --max-width: 60%;
    }

    @media screen and (max-width: 800px) and (min-width: 600px) {
      --max-width: 80%;
    }

    @media screen and (max-width: 600px) {
      --max-width: none;
    }
  }

  > .title {
    margin-bottom: unset;

    font-size: var(--font-size);
    line-height: 1;

    color: var(--pink);

    @media screen and (min-width: 800px) {
      --font-size: 3rem;
    }

    @media screen and (max-width: 800px) and (min-width: 600px) {
      --font-size: 2.2rem;
    }

    @media screen and (max-width: 600px) {
      --font-size: 1.5rem;
    }
  }
}