.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 125px;
  gap: 3px;
}

.image-grid .item {
  background-color: var(--dark-yellow);
  
  border-radius: .3rem;
  
  overflow: hidden;
}

.image-grid .item.-panorama {
  grid-column: span 2;
}

.image-grid .item.-highlight {
  grid-column: span 2;
  grid-row: span 2;
}

.image-grid .image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: opacity .15s linear, transform .25s ease-out;
}

.image-grid .item:hover .image,
.image-grid .item:focus .image {
  opacity: .5;

  transform: scale(1.02);
}

@media screen and (max-width: 800px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-small);
  }
}

@media screen and (max-width: 500px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--spacing-medium) / 2);
  }
}