.main-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 100px;
}

.main-navigation > .link {
  margin-left: var(--spacing-medium);
  position: relative;
}

.main-navigation > .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  height: 8px;
  z-index: -1;
  background-color: var(--dark-yellow);
  opacity: 0;
  transition: opacity .1s linear;
}

.main-navigation > .link:hover::after,
.main-navigation > .link:focus::after,
.main-navigation > .link.-active::after {
  opacity: 1;
}