.main-navigation {
  display: flex;
  align-items: center;
  height: 5rem;
}

.main-navigation > .title {
  margin-right: auto;
  padding: 0 .5rem;

  font-weight: bold;
  color: white;
}

.main-navigation > .link {
  margin-left: var(--spacing-normal);
  padding: 0 2px;

  color: var(--font-color);
  
  overflow: hidden;
  outline: none;
}

.main-navigation > .link.-active {
  border-bottom: 2px solid var(--pink);

  font-weight: bold;
}

.main-navigation > .link > .hover {
  position: relative;

  display: inline-block;
  
  transition: transform 0.3s;
}

.main-navigation > .link > .hover::before {
  position: absolute;
  top: 100%;
  
  font-weight: 700;
  
  color: var(--pink);
  
  content: attr(data-hover);
  transform: translate3d(0,0,0);
}

.main-navigation > .link:hover > .hover,
.main-navigation > .link:focus > .hover {
  transform: translateY(-100%);
}