.page-header {
  max-width: 1720px;
  margin: 0 auto var(--spacing-huge) auto;

  background-color: var(--light-yellow);
}

.page-header > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

  text-align: center;
}

.page-header .title {
  margin: unset;
}

.page-header .intro {
  margin: unset;
  max-width: 70%;

  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .page-header {
    margin-bottom: var(--spacing-large);
  }
  
  .page-header > .container {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-large);
    height: auto;
  }

  .page-header .intro {
    font-size: 16px;
  }
}