.skill-section {
  margin-top: var(--spacing-huge);
  margin-bottom: var(--spacing-huge);
  padding-top: var(--spacing-huge);
  padding-bottom: var(--spacing-huge);

  background-color: var(--light-yellow);
}

.skill-section .skill {
  padding: var(--spacing-large) var(--spacing-medium);

  background-color: white;

  box-shadow: 0 3px 25px rgba(0, 0, 0, .05);
  border-radius: .5rem;
}

.skill-section .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-top: calc((40px + var(--spacing-large)) * -1);
  margin-bottom: var(--spacing-medium);

  background-color: var(--dark-yellow);
  
  border-radius: .5rem;
}

.skill-section .text {
  margin-bottom: unset;
}

@media screen and (min-width: 600px) {
  .skill-section > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-huge) var(--spacing-medium);
  }

  .skill-section .title {
    grid-column: span 2;
  }
}

@media screen and (max-width: 600px) {
  .skill-section .skill {
    margin-top: 4rem;
  }
}