.social-links {
  list-style: none;

  padding-left: unset;
}

.social-links > .item {
  display: inline-block;

  margin-right: var(--spacing-small);
}

.social-links > .item > .link {
  display: block;

  transition: color .15s linear;
}

.social-links > .item > .link:hover,
.social-links > .item > .link:focus {
  color: var(--dark-yellow);
}