---
layout: default
title: Welcome
---

<link rel="stylesheet" href="/css/hero-unit.css">
<section class="hero-unit">
  <div class="container">
    <figure class="figure _bordered">
      <picture>
        <source srcset="/images/portrait-2x.webp 2x, /images/portrait.webp" type="image/webp">
        <img class="image" srcset="/images/portrait-2x.jpg 2x, /images/portrait.jpg" src="/images/portrait.jpg" alt="Portrait of Andreas Remdt" width="350" height="495">
      </picture>
    </figure>

    <h1 class="title _leftlined">Hi, I'm Andreas.</h1>
    <p class="intro">Fast, secure and good looking websites?<br>
      Yes please! That's what I do.
    </p>
    
    <a class="button -primary" href="contact.html">Get in touch</a>

    {% include social-links.html %}
  </div>
</section>

<section class="about-section">
  <div class="container">
    <h2 class="_leftlined">About me</h2>
    <p>Starting my career as a Web Developer 5 years ago, I currently work as a Software Engineer at <a href="https://camunda.com" target="_blank" rel="noreferrer noopener">Camunda</a>, where I try my best to make <a href="https://cawemo.com" target="_blank" rel="noreferrer noopener">one of our cloud applications</a> look and feel good.</p>

    <p>My preferred area of expertise lies within the frontend; taming React state, making CSS look good in all browsers, putting boring JSON APIs into a beautiful UI, and all that other stuff.</p>

    <p>My framework of choice is React, but I am not limited to that. Making websites look good for all people in all browsers on all devices doesn't depend on the choice of the framework for me; it's the result that counts.</p>

    <p>Outside of the matrix, I love cooking, being in nature and, taking photos of beautiful landscapes.</p>

    <a href="/projects/" class="button -primary">View work</a>
    <a href="https://cv.andreasremdt.com/files/extended-en.pdf" download="Résumé Andreas Remdt Extended (EN)" class="button -secondary">Download CV</a>
  </div>
</section>

<link rel="stylesheet" href="/css/skill-section.css">
<section class="skill-section">
  <div class="container">
    <h2 class="title _leftlined">Skills</h2>

    {% for skill in site.data.skills %}
    <article class="skill">
        <figure class="icon" aria-hidden="true">
          <img src="/icons/{{ skill.name | downcase }}.svg" width="40" height="40">
        </figure>
  
        <h3>{{ skill.name }}</h3>
        <p class="text">{{ skill.entries | join: ", " }}</p>
      </article>
    {% endfor %}
  </div>
</section>

<link rel="stylesheet" href="/css/work-section.css">
<section class="work-section">
  <div class="container">
    <header>
      <h2 class="title _centerlined">Latest work</h2>
      <p class="intro">Interested in what I have done? Here's an overview of a few projects I did either for former
        employers or in
        my private time.</p>
    </header>

    {% include projects.html %}
  </div>
</section>
