---
layout: default
title: Welcome
---

<link rel="stylesheet" href="/css/hero-unit.css">
<section class="hero-unit">
  <div class="container">
    <h1 class="title _leftlined">Hi, I'm Andreas.</h1>
    <p class="intro">Fast, secure and good looking websites?<br>
      Yes please! That's what I do.
    </p>

    <figure class="figure _bordered">
      <img class="image" src="https://picsum.photos/350/500" alt="Photo of myself" width="350" height="500">
    </figure>

    <a class="button -primary" href="contact.html">Get in touch</a>

    {% include social-links.html %}
  </div>
</section>

<section class="about-section">
  <div class="container">
    <h2 class="_leftlined">About me</h2>
    <p>I love to craft semantic, beautiful, accessible and lightweight web applications that users enjoy to use. For
      me,
      great user experience values more than developer experience. That's why I tend to build my projects without
      insert
      latest buzzword framework here.</p>

    <a href="projects.html" class="button -primary">View work</a>
    <a href="" download class="button -secondary">Download CV</a>
  </div>
</section>

<link rel="stylesheet" href="/css/skill-section.css">
<section class="skill-section">
  <div class="container">
    <h2 class="title _leftlined">Skills</h2>

    {% for skill in site.data.skills %}
    <article class="skill">
        <figure class="icon" aria-hidden="true">
          <img src="/icons/{{ skill.name | downcase }}.svg" width="40" height="40">
        </figure>
  
        <h3>{{ skill.name }}</h3>
        <p class="text">{{ skill.entries | join: ", " }}</p>
      </article>
    {% endfor %}
  </div>
</section>

<link rel="stylesheet" href="/css/work-section.css">
<section class="work-section">
  <div class="container">
    <header class="header">
      <h2 class="title _centerlined">Latest work</h2>
      <p class="text">Interested in what I have done? Here's an overview of a few projects I did either for former
        employers or in
        my private time.</p>
    </header>

    {% include projects.html limit=4 %}
  </div>
</section>