.image {
  border-radius: 0.5rem;
}

.button {
  margin-right: 1rem;
}

@media (min-width: 800px) {
  .main {
    display: flex;
  }

  .sidebar {
    flex-grow: 1;
  }

  .content {
    flex: 0 0 55%;
    margin-left: 2rem;
  }
}

@media (max-width: 800px) {
  .image {
    background-color: var(--light-yellow);
  }

  .sidebar {
    margin-bottom: 3rem;
  }
}
