<link rel="stylesheet" href="/css/main-navigation.css">
<nav class="container main-navigation">
  <a class="link{% if page.url == '/' %} -active{% endif %}" href="/">Home</a>
  <a class="link{% if page.url contains '/projects/' %} -active{% endif %}" href="/projects/">Work</a>
  <a class="link{% if page.url contains '/blog/' %} -active{% endif %}" href="/blog/">Blog</a>
  <a class="link{% if page.url == '/photography/' %} -active{% endif %}" href="/photography/">Photography</a>
  <a class="link" href="https://cv.andreasremdt.com" target="_blank" rel="noopener nofollow">Résumé</a>
  <a class="link{% if page.url == '/contact/' %} -active{% endif %}" href="/contact/">Contact</a>
</nav>