.main {
  padding: 18rem 0 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 500px;
}

@media (max-width: 800px) {
  .main {
    background-size: 60%;
    padding-top: 34vw;
  }
}
