.text {
  margin-top: unset;
}

.work {
  background-color: var(--light-yellow);
}

.contact {
  background-repeat: no-repeat;
  background-position: bottom right 20%;
  background-size: 500px;
}

.contacttext {
  margin: -15px 0 4rem;
}

.form {
  margin: unset;
}

@media (min-width: 700px) {
  .main {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .work {
    padding: 8rem 0;
  }

  .contact {
    padding: 8rem 0 2rem 0;
  }

  .columns {
    column-count: 2;
  }
}

@media (max-width: 700px) {
  .main {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .work {
    padding: 4rem 0;
  }

  .contact {
    padding: 4rem 0 0 0;
    background-size: 300px;
  }
}
