.main {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.columns {
  column-count: 2;
}

.text {
  margin-top: unset;
}

.work {
  background-color: var(--light-yellow);
  padding: 8rem 0;
}

.contact {
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-position: center left calc(100vw / 2 + 70px);
  background-size: 500px;
}

.contacttext {
  margin: -25px 0 4rem;
}
