<section class="section">
  <h2 class="h2">Biography</h2>

  <div class="sm:columns-2 md:columns-3">
    <p>
      Andreas is a Freelance Software Engineer via <a
        href="https://www.toptal.com"
        target="_blank"
        rel="noopener nofollow noreferrer">Toptal</a
      >, where he works for various clients in different industries like <a
        href="https://databricks.com/"
        target="_blank"
        rel="noopener nofollow noreferrer">Databricks</a
      >, <a
        href="https://dailyai.io/"
        target="_blank"
        rel="noopener nofollow noreferrer">Daily AI</a
      >, or
      <a
        href="https://hildebranding.com/"
        target="_blank"
        rel="noopener nofollow noreferrer">hildebranding</a
      > to deliver outstanding web applications.
    </p>

    <p>
      He started his career in 2011 and developed an ever-growing interest in
      the web platform and in building websites. Being self-taught, he
      previously worked for <a
        href="https://vitra.com/"
        target="_blank"
        rel="noopener nofollow noreferrer">Vitra</a
      >, the <a
        href="https://ambiente.gob.do/"
        target="_blank"
        rel="noopener nofollow noreferrer">Dominican Ministry of Environment</a
      >, and <a
        href="https://camunda.com/"
        target="_blank"
        rel="noopener nofollow noreferrer">Camunda</a
      >.
    </p>

    <p>
      His main area of expertise lies within the front-end; taming React state,
      making CSS look pixel-perfect in all browsers, squooshing JSON API data
      into beautiful UIs, ensuring accessibility, and all that other stuff.
      However, he is also at home in the back end, as long as it's in
      JavaScript.
    </p>

    <p>
      If outside of the matrix, he loves being in nature, <a
        href="https://500px.com/andreasremdt"
        target="_blank"
        rel="noopener nofollow noreferrer">taking photos</a
      > of beautiful locations all around the world. Oh, and he's an okay cook.
    </p>
  </div>
</section>
