---
import ExternalLink from "components/external-link.astro";
---

<section class="section">
  <h2 class="h2">Biography</h2>

  <div class="sm:columns-2 md:columns-3">
    <p>
      Andreas is a Freelance Software Engineer via <ExternalLink
        href="https://www.toptal.com">Toptal</ExternalLink
      >, where he works for various clients in different industries like <ExternalLink
        href="https://www.databricks.com/">Databricks</ExternalLink
      >, <ExternalLink href="https://dailyai.io/">Daily AI</ExternalLink>, or
      <ExternalLink href="https://hildebranding.com/"
        >hildebranding</ExternalLink
      > to deliver outstanding web applications.
    </p>

    <p>
      He started his career in 2011 and developed an ever-growing interest in
      the web platform and in building websites. Being self-taught, he
      previously worked for <ExternalLink
        href="https://www.vitra.com/en-us/home">Vitra</ExternalLink
      >, the <ExternalLink href="https://ambiente.gob.do/"
        >Dominican Ministry of Environment</ExternalLink
      >, and <ExternalLink href="https://camunda.com/">Camunda</ExternalLink>.
    </p>

    <p>
      His main area of expertise lies within the front-end; taming React state,
      making CSS look pixel-perfect in all browsers, squooshing JSON API data
      into beautiful UIs, ensuring accessibility, and all that other stuff.
      However, he is also at home in the back end, as long as it's in
      JavaScript.
    </p>

    <p>
      If outside of the matrix, he loves being in nature, <ExternalLink
        href="https://500px.com/p/andreasremdt">taking photos</ExternalLink
      > of beautiful locations all around the world. Oh, and he's an okay cook.
    </p>
  </div>
</section>
