---
import ContactForm from "components/contact-form.astro";
---

<section class="section">
  <h3 class="h2 mb-2">Get in Touch</h3>
  <p class="text-center mb-12">
    Want to get in touch with me? Sweet! Just fill out the form and I'll get
    back to you as soon as possible.
  </p>

  <ContactForm />
</section>
