---
import Image from "components/image.astro";
import ExternalLink from "components/external-link.astro";
import { getPortrait } from "lib/hygraph";

const portrait = await getPortrait();

const links = [
  {
    title: "GitHub",
    icon: "github",
    href: "https://github.com/andreasremdt",
  },
  {
    title: "LinkedIn",
    icon: "linkedin",
    href: "https://linkedin.com/in/andreasremdt",
  },
  {
    title: "Toptal",
    icon: "toptal",
    href: "https://www.toptal.com/resume/andreas-remdt",
  },
  {
    title: "Medium",
    icon: "medium",
    href: "https://medium.com/@andreas.remdt",
  },
  {
    title: "500px",
    icon: "fivehundredpx",
    href: "https://500px.com/p/andreasremdt",
  },
  {
    title: "Frontend Mentor",
    icon: "frontendmentor",
    href: "https://www.frontendmentor.io/profile/andreasremdt",
  },
];
---

<section class="section flex flex-col sm:flex-row gap-8 lg:gap-16">
  <figure class="sm:w-1/2">
    <Image
      image={portrait}
      alt="Portrait of Andreas Remdt"
      loading="eager"
      width="350"
      height="350"
      class="rounded-lg shadow-lg w-2/5 sm:w-full"
    />
  </figure>
  <div>
    <h1
      class="font-serif text-3xl md:text-4xl lg:text-6xl font-bold text-slate-900 mb-4"
    >
      Hey, I'm Andreas.
    </h1>
    <p class="md:text-lg mb-4">
      Software Engineer based in Germany who loves to build beautiful,
      accessible, and performant web applications using cutting-edge
      technologies.
    </p>

    <div class="flex gap-1">
      <ExternalLink
        href="https://www.toptal.com/resume/andreas-remdt"
        class="btn btn-primary">Hire me</ExternalLink
      >
      <a href="/projects/" class="btn btn-secondary">View my work</a>
    </div>

    <ul class="flex gap-x-3 text-slate-900 mt-8 lg:mt-16">
      {
        links.map((link) => (
          <li>
            <ExternalLink
              href={link.href}
              class="outline-none transition-colors hover:text-emerald-400 focus:text-emerald-400"
              title={link.title}
            >
              <svg width="24" height="24" aria-hidden="true">
                <use href={`/icons/profile-icons.svg#${link.icon}`} />
              </svg>
            </ExternalLink>
          </li>
        ))
      }
    </ul>
  </div>
</section>
