---
import Image from "components/image.astro";
import { getPortrait } from "lib/hygraph";

const portrait = await getPortrait();
---

<section class="section flex flex-col sm:flex-row gap-8 lg:gap-16">
  <figure class="sm:w-1/2">
    <Image
      image={portrait}
      alt="Portrait of Andreas Remdt"
      loading="eager"
      width="350"
      height="350"
      class="rounded-lg shadow-lg w-2/5 sm:w-full"
    />
  </figure>
  <div>
    <h1
      class="font-serif text-3xl md:text-4xl lg:text-6xl font-bold text-slate-900 mb-4"
    >
      Hey, I'm Andreas.
    </h1>
    <p class="md:text-lg mb-4">
      Software Engineer based in Germany who loves to build beautiful,
      accessible, and performant web applications using cutting-edge
      technologies.
    </p>

    <div>
      <a
        href="https://www.toptal.com/resume/andreas-remdt"
        target="_blank"
        class="btn btn-primary"
        rel="noopener nofollow noreferrer">Hire me</a
      >
      <a href="/projects/" class="btn btn-secondary">View my work</a>
    </div>

    <ul class="flex gap-x-3 text-slate-900 mt-8 lg:mt-16">
      <li>
        <a
          href="https://github.com/andreasremdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="GitHub"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://linkedin.com/in/andreasremdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="LinkedIn"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.toptal.com/resume/andreas-remdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="Toptal"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#toptal"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://medium.com/@andreas.remdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="Medium"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#medium"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://500px.com/andreasremdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="500px"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#500px"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.frontendmentor.io/profile/andreasremdt"
          target="_blank"
          class="hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors"
          rel="noopener nofollow noreferrer"
          title="Frontend Mentor"
        >
          <svg width="24" height="24" aria-hidden="true">
            <use href="/icons/profile-icons.svg#frontendmentor"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
