<footer class="max-w-6xl mx-auto p-4 text-center text-sm">
  <p>&copy; {new Date().getFullYear()} Andreas Remdt.</p>
  <p>
    Built with <a
      href="https://docs.astro.build"
      target="_blank"
      rel="noopener nofollow noreferrer">Astro</a
    >, <a
      href="https://tailwindcss.com"
      target="_blank"
      rel="noopener nofollow noreferrer">Tailwind</a
    >, and <a
      href="https://hygraph.com/"
      target="_blank"
      rel="noopener nofollow noreferrer">Hygraph</a
    >. Hosted on <a
      href="https://vercel.com"
      target="_blank"
      rel="noopener nofollow noreferrer">Vercel</a
    >.
  </p>
</footer>
