---
import ExternalLink from "components/external-link.astro";
---

<footer class="max-w-6xl mx-auto p-4 text-center text-sm">
  <p>&copy; {new Date().getFullYear()} Andreas Remdt.</p>
  <p>
    Built with <ExternalLink href="https://astro.build">Astro</ExternalLink>, <ExternalLink
      href="https://tailwindcss.com">Tailwind</ExternalLink
    >, and <ExternalLink href="https://hygraph.com/">Hygraph</ExternalLink>.
    Hosted on <ExternalLink href="https://vercel.com">Vercel</ExternalLink>.
  </p>
</footer>
