---
import { isLinkActive } from "lib/helpers";
import ColorSchemeSwitch from "./color-scheme-switch.astro";

const items = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Projects",
    href: "/projects/",
  },
  {
    label: "Photography",
    href: "/photography/",
  },
  {
    label: "Blog",
    href: "/blog/",
  },
  {
    label: "Contact",
    href: "/contact/",
  },
];
---

<header
  class="sticky -top-px z-10 bg-white/80 backdrop-blur-md transition-shadow dark:bg-slate-900/80"
  data-header
>
  <div
    class="mx-auto flex h-24 max-w-6xl flex-row items-center justify-between gap-2 px-4"
  >
    <a
      href="#content"
      class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-full rounded-b-sm bg-emerald-400 px-2 py-1 text-slate-900 shadow-md shadow-slate-100 outline-none transition-transform hover:underline focus:translate-y-0 dark:shadow-slate-700"
      >Skip to content</a
    >

    <span
      aria-hidden="true"
      class="font-serif text-xl font-bold text-slate-900 dark:text-white"
      >Andreas Remdt</span
    >

    <button
      type="button"
      class="menu-toggle relative z-20 h-5 w-10 outline-none transition-all ease-in-out focus:text-emerald-400 sm:hidden"
      aria-label="Open mobile menu"
      data-action="toggle-menu"
    >
      <span
        aria-hidden="true"
        class="absolute left-0 top-0 block h-[2px] w-full bg-current transition-all ease-in-out"
      ></span>
      <span
        aria-hidden="true"
        class="absolute left-0 top-[10px] block h-[2px] w-full bg-current transition-all ease-in-out"
      ></span>
      <span
        aria-hidden="true"
        class="absolute left-0 top-5 block h-[2px] w-full bg-current transition-all ease-in-out"
      ></span>
    </button>
    <nav
      class="menu pointer-events-none fixed inset-0 z-10 flex h-screen scale-90 flex-col items-center justify-center gap-8 bg-white text-xl opacity-0 transition-all duration-200 ease-in-out dark:bg-slate-900 sm:pointer-events-auto sm:static sm:h-auto sm:scale-100 sm:flex-row sm:bg-transparent sm:text-base sm:opacity-100"
      data-element="menu"
    >
      {
        items.map((item) => (
          <a
            class:list={[
              "text-slate-900 hover:text-emerald-400 focus:text-emerald-400 outline-none transition-colors dark:text-white dark:hover:text-emerald-400 dark:focus:text-emerald-400",
              { "font-semibold": isLinkActive(item.href, Astro.url) },
            ]}
            href={item.href}
          >
            {item.label}
          </a>
        ))
      }

      <ColorSchemeSwitch />
    </nav>
  </div>
</header>

<script>
  const toggle = document.querySelector(
    '[data-action="toggle-menu"]'
  ) as HTMLElement;
  const menu = document.querySelector('[data-element="menu"]') as HTMLElement;
  const links = menu.querySelectorAll("a") as NodeListOf<HTMLAnchorElement>;
  const firstLink = links[0] as HTMLAnchorElement;
  const lastLink = links[links.length - 1] as HTMLAnchorElement;
  const mediaQuery = matchMedia("(max-width: 640px)");

  let menuVisible = false;

  new IntersectionObserver(
    ([entry]) => {
      if (entry) {
        entry.target.classList.toggle("shadow-md", entry.intersectionRatio < 1);
      }
    },
    { threshold: [1] }
  ).observe(document.querySelector("[data-header]") as HTMLDivElement);

  function toggleMenu() {
    menuVisible = !menuVisible;

    menu.classList.toggle("is-open");
    menu.setAttribute("aria-hidden", String(!menuVisible));
    toggle.classList.toggle("is-open");
    toggle.setAttribute(
      "aria-label",
      `${menuVisible ? "Close" : "Open"} mobile menu`
    );
    toggle.setAttribute("aria-expanded", String(menuVisible));
    links.forEach((link) =>
      link.setAttribute("tabindex", menuVisible ? "0" : "-1")
    );

    if (menuVisible) {
      firstLink.focus();
    } else {
      toggle.focus();
    }
  }

  function focusTrab(event: KeyboardEvent) {
    if (event.shiftKey) {
      if (document.activeElement === toggle) {
        event.preventDefault();
        lastLink.focus();
      }
    } else if (document.activeElement === lastLink) {
      event.preventDefault();
      toggle.focus();
    }
  }

  function handleKeyDown(event: KeyboardEvent) {
    if (event.key === "Escape" && menuVisible) {
      toggleMenu();
    }

    if (event.key === "Tab" && menuVisible) {
      focusTrab(event);
    }
  }

  function handleMediaChange(event: MediaQueryList | MediaQueryListEvent) {
    if (event.matches) {
      toggle.setAttribute("aria-expanded", String(menuVisible));
      links.forEach((link) =>
        link.setAttribute("tabindex", menuVisible ? "0" : "-1")
      );
    } else {
      links.forEach((link) => link.setAttribute("tabindex", "0"));
    }
  }

  toggle.addEventListener("click", toggleMenu);
  document.addEventListener("keydown", handleKeyDown);
  mediaQuery.addEventListener("change", handleMediaChange);

  handleMediaChange(mediaQuery);
</script>
