.main:not(:last-of-type) {
  margin-bottom: 3rem;
}

.image {
  border-radius: 0.5rem;
}

.title {
  margin-top: 0.5rem;
}

@media (min-width: 800px) {
  .image {
    width: 400px;
    height: 250px;
    flex-shrink: 0;
  }

  .main {
    display: flex;
  }

  .body {
    flex-grow: 1;
    margin-left: 2rem;
  }
}

@media (max-width: 800px) {
  .image {
    background-color: var(--light-yellow);
    width: 100%;
  }

  .title {
    margin-bottom: unset;
  }
}
