.list {
  list-style-type: none;
  padding: unset;
}

.item {
  display: inline-block;
  margin-right: 1.5rem;
}

.anchor {
  transition: color 0.1s linear;
}

.anchor:hover,
.anchor:focus {
  color: var(--dark-yellow);
}
