---
---

.main-navigation {
  display: flex;
  align-items: center;
  height: 5rem;
}

.main-navigation > .title {
  margin-right: auto;
  padding: 0 .5rem;

  font-weight: bold;
  color: white;
}

.main-navigation > .link {
  margin-left: var(--spacing-normal);

  color: var(--font-color);

  border-bottom: 2px solid transparent;
  
  overflow: hidden;
  outline: none;
  transition: border-color .1s linear;
}

.main-navigation > .link.-active {
  border-color: var(--pink);

  color: var(--pink);
}

.main-navigation > .link:focus {
  border-color: var(--font-color);
}

.main-navigation > .link > .mirror {
  position: relative;

  display: inline-block;
  
  transition: transform 0.3s;
}

.main-navigation > .link > .mirror::before {
  position: absolute;
  top: 100%;
  
  color: var(--pink);
  
  content: attr(data-hover);
}

.main-navigation > .link:hover > .mirror {
  transform: translateY(-100%);
}