---
---

.main-navigation {
  display: flex;
  
  @media screen and (min-width: 800px) {
    align-items: center;
    height: 5rem;
  }

  @media screen and (max-width: 800px) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding: 0;

    flex-direction: column;

    background-image: linear-gradient(45deg, var(--orange), var(--pink));

    z-index: 2;
    transition: transform .2s ease-out, box-shadow .2s linear;
    transform: translateX(100%);
    
    &.-open {
      box-shadow: -5px 0 10px rgba(0, 0, 0, .2);

      transform: translateX(0);
    }
  }
}

.main-navigation > .title {
  font-weight: bold;

  color: white;
  
  @media screen and (min-width: 800px) {
    margin-right: auto;
    padding: 0 var(--spacing-small);
  }

  @media screen and (max-width: 800px) {
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-normal);
    height: 4.3rem;

    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

    background-color: var(--font-color);
    color: white;
  }
}

.main-navigation > .link {
  outline: none;
  transition: border-color .1s linear;
  
  @media screen and (min-width: 800px) {
    color: var(--font-color);
    
    overflow: hidden;

    border-bottom: 2px solid transparent;

    margin-left: var(--spacing-normal);
  }

  @media screen and (max-width: 800px) {
    padding: var(--spacing-small) var(--spacing-normal);

    color: white;

    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  &.-active {
    @media screen and (min-width: 800px) {
      border-color: var(--pink);
      
      color: var(--pink);
    }
  }
  
  &:focus {
    @media screen and (min-width: 800px) {
      border-color: var(--font-color);
    }
  }

  &:hover > .mirror {
    @media screen and (min-width: 800px) {
      transform: translateY(-100%);
    }

    @media screen and (max-width: 800px) {
      transform: translateX(.5rem);
    }
  }
}

.main-navigation > .link > .mirror {
  position: relative;

  display: inline-block;
  
  transition: transform 0.3s;

  &::before {
    @media screen and (min-width: 800px) {
      position: absolute;
      top: 100%;
      
      color: var(--pink);
      
      content: attr(data-hover);
    }
  }
}

.main-navigation > .toggle {
  @media (min-width: 800px) {
    display: none;
  }

  @media (max-width: 800px) {
    position: absolute;
    top: var(--spacing-normal);
    left: 0;
    padding: var(--spacing-small) var(--spacing-normal) var(--spacing-small) var(--spacing-small);
    
    border: none;
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
  
    background-color: var(--font-color);
    color: white;
  
    transform: translateX(-100%);
    outline: none;
  }
}