---
---

.skill-section {
  margin-top: -10rem;
  margin-bottom: 4rem;
  padding: var(--spacing-large);
  position: relative;
  
  background-color: white;
  
  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  border: 1px solid var(--light-gray);
  border-radius: var(--spacing-small);
}

.skill-section > .section-header {
  position: relative;
  padding-bottom: var(--spacing-small);
  margin-bottom: var(--spacing-large);
}

.skill-section > .section-header::before {
  content: "";
  
  position: absolute;
  bottom: 0;
  left: calc(50% - 75px);
  width: 150px;
  height: 2px;
  
  background: linear-gradient(to right, var(--orange), var(--pink));
}

.skill-wrapper {
  display: flex;
}

.skill-wrapper > article {
  flex: 1;
}

.skills {
  padding-left: unset;
  margin: unset;

  list-style: none;
}

.skills > li {
  display: flex;
  align-items: center;
}

.skills > li > img {
  margin-right: var(--spacing-small);
}