---
---

.work-section {
  text-align: center;

  position: relative;
}

.work-section::before {
  content: "";

  position: absolute;
  top: 10%;
  left: -35%;
  width: 400px;
  height: 400px;

  background: linear-gradient(45deg, #E77E99, var(--pink));
  
  border-radius: 50%;
  box-shadow: 10px 0 20px rgba(0, 0, 0, .1);
}

.work-section > header > h2 {
  margin: unset;
}

.work-section > .button {
  margin-top: var(--spacing-large);
}

.work-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.work-item {
  flex: 0 1 calc(33.33334% - 2rem);
  margin: 1rem;
  height: 250px;
  position: relative;
  
  background: linear-gradient(45deg, var(--orange), var(--pink));

  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: .5rem;

  overflow: hidden;
  transition: box-shadow .2s ease-in-out;
}

.work-item > .image {
  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: .4;

  border-radius: .5rem;

  transition: filter .2s ease-in-out, transform .3s ease-in-out;
}

.work-item:hover {
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, .2);
}

.work-item:hover > .caption {
  opacity: 1;
  transform: translateY(0);
}

.work-item:hover > .image {
  filter: blur(2px);
  transform: scale(1.1);
}

.work-item > .caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding: var(--spacing-normal);
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;

  color: white;

  opacity: 0;
  transform: translateY(7px);
  transition: opacity .2s ease-in-out, transform .3s ease-in-out;
}