---
---

.project-section {
  display: flex;
  align-items: flex-end;
}

.project-section > .main {
  flex: 1 1 60%;
  order: 2;
  padding-left: var(--spacing-large);
}

.project-section > .main a {
  color: var(--pink);
}

.project-section > .main p:last-child {
  margin-bottom: unset;
}

.project-section > .sidebar {
  flex: 1 1 40%;
  order: 1;
}

.project-section > .sidebar .image {
  border-radius: .3rem;
}

.project-section > .sidebar > .details {
  padding-left: unset;
  margin: var(--spacing-large) 0;

  list-style: none;
}