.project-preview {
  --image-offset: 290px;

  position: relative;
  padding-left: var(--image-offset);
  margin: 150px auto 0 auto;
  max-width: 60%;
}

.project-preview.-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 0 var(--image-offset) 0 0;

  text-align: right;
}

.project-preview > .title {
  margin: 0;
  padding: var(--spacing-small) var(--spacing-normal);
  
  background-color: white;
  
  border-radius: var(--spacing-small);
}

.project-preview > .description {
  padding: var(--spacing-small) var(--spacing-normal);

  background-color: white;

  border-radius: var(--spacing-small);
}

.project-preview.-left > .description {
  margin: var(--spacing-small) 0 var(--spacing-small) var(--spacing-normal);
}

.project-preview.-right > .description {
  margin: var(--spacing-small) var(--spacing-normal) var(--spacing-small) 0;
}

.project-preview.-left > .button {
  margin-left: calc(var(--spacing-normal) * 2);
}

.project-preview.-right > .button {
  margin-right: calc(var(--spacing-normal) * 2);
}

.project-preview > .figure {
  position: relative;
  margin-left: calc(var(--image-offset) * -1);
  width: 400px;
  margin-top: -250px;

  z-index: -1;
}

.project-preview.-right > .figure {
  margin-right: calc(var(--image-offset) * -1);
}

.project-preview > .figure > .image {
  border-radius: var(--spacing-normal);
}