<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Andreas Remdt">
  <meta name="description" content="{{ page.description }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/buttons.css">
  <link rel="stylesheet" href="/css/images.css">
  <link rel="stylesheet" href="/css/social-links.css">
</head>

<body>
  {% include navigation.html %}

  {{ content }}

  {% include footer.html %}
</body>

</html>