.wrapper {
  position: sticky;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05);
  margin-top: 3rem;
  height: 500px;
  padding: 3rem 2.5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.image {
  position: absolute !important;
  right: -2.5rem;
  bottom: -3rem;
  width: 55%;
}

.text {
  margin: 1rem 0 2rem 0;
}

@media (max-width: 800px) {
  .wrapper {
    height: 400px;
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 700px) {
  .text {
    max-width: 40%;
  }
}

@media (max-width: 700px) {
  .wrapper {
    height: 320px;
    padding: 1rem;
  }

  .text {
    background-color: white;
    border-radius: 5px;
  }

  .image {
    width: 65%;
    bottom: -5rem;
    z-index: -1;
  }
}
