.main {
  background-color: var(--medium-light-yellow);
  padding: 2rem 0;
  margin-top: 6rem;
}

@media (min-width: 500px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 1rem 0;
    margin-top: 3rem;
  }
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
}
