.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
}

@media (min-width: 600px) {
  .main {
    height: 100px;
  }

  .link {
    margin-left: 2.5rem;
  }

  .toggle {
    display: none;
  }

  .active {
    background-size: 0 3px, 100% 3px !important;
  }
}

@media (max-width: 600px) {
  .main {
    height: 50px;
  }

  .navigation {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: white;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .navigation.opened {
    display: flex;
    animation: slide-in 0.5s ease-out forwards;
  }

  .link {
    padding: 1rem 1rem 1rem calc(1rem - 5px);
    border-left: 5px solid transparent;
  }

  .link:active {
    background-color: var(--light-yellow);
  }

  .active {
    border-color: var(--dark-yellow);
  }

  .toggle {
    background-color: transparent;
    border: none;
    display: flex;
    padding: 0;
    outline: none;
  }

  .line {
    fill: none;
    stroke: var(--dark-gray);
    stroke-width: 6;
    transition: stroke-dasharray 0.6s cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 0.6s cubic-bezier(0.4, 0, 0.2, 1), stroke 0.3s linear;
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .opened .line {
    stroke: var(--dark-yellow);
  }

  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
