.main {
  height: 46px;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid var(--light-gray);
  font-family: inherit;
  font-size: 14px;
  color: var(--medium-gray);
  outline: none;
  resize: none;
  transition: border-color 0.1s linear;
}

.textarea {
  height: 100px;
}

.invalid {
  border-color: var(--medium-red);
  box-shadow: 0 0 10px hsla(9, 100%, 64%, 0.15);
}

.main:hover,
.main:focus {
  border-color: var(--medium-gray);
}

.group {
  margin-bottom: 1rem;
  position: relative;
}

.label {
  color: var(--dark-gray);
  margin-bottom: 0.3rem;
  display: block;
}

.asterisk {
  color: var(--medium-red);
  margin-left: 0.3rem;
}

.error {
  margin: unset;
  color: var(--medium-red);
  font-size: 13px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0.3rem;
  padding: 0 0.3rem;
}
